@inherits LayoutComponentBase
@inject AuthService AuthService
@inject NavigationManager Nav
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!-- ✅s Barre du haut -->
        @* <div class="top-row px-4 d-flex justify-content-between align-items-center bg-dark text-white">
            <div>
                <h5 class="m-0">salut</h5>
            </div>

            <div>
                @if (AuthService.IsAuthenticated)
                {
                    <a href="/logout" class="btn btn-outline-light btn-sm">🔓 Déconnexion</a>
                }
                else
                {
                    <a href="/login" class="btn btn-outline-light btn-sm">🔐 Connexion</a>
                }
            </div>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
